@use '../../shared/config/styles/functions' as *;

.filters {
  width: vw-1440(282);

  display: flex;
  flex-direction: column;
  gap: vw-1440(12);
}

.inputsContainer {
  display: grid;
  grid-template-columns: repeat(2, 86px);
  gap: 12px;

  .input {
    height: 44px;
  }
}
