@use '../../shared/config/styles/functions' as *;

.filters {
  width: vw-1440(282);

  display: flex;
  flex-direction: column;
  gap: vw-1440(12);

  @media (max-width: 768px) {
    width: 336px;
    gap: 12px;
  }
}
