@use "../../shared/config/styles/functions" as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  align-items: stretch;

  box-sizing: border-box;
  border: 1px solid #1114341a;
  border-radius: 6px;
  background-color: transparent;

  width: vw-1440(196);
  padding: vw-1440(16);
  gap: vw-1440(12);

  .name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    line-height: 1.4;
    min-height: calc(1em * 1.4 * 2);
  }

  &:hover {
    cursor: pointer;
    background-color: var(--color-button);
    opacity: 0.8;
    p {
      color: var(--color-bg);
    }
  }

  @media (max-width: 768px) {
    width: 160px;
    padding: 16px;
    gap: 12px;

    .name {
      -webkit-line-clamp: 3;
      line-clamp: 3;

      min-height: calc(1em * 1.4 * 3);
    }
  }
}

.active {
  background-color: var(--color-button);
  border: none;

  p {
    color: var(--color-bg);
  }
}
