.rootState {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  gap: 12px;
}

.trigger {
  width: fit-content;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  position: relative;

  border: none;
  background-color: var(--color-white);

  & > svg {
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%) translateX(100%) rotate(90deg);
    transition: transform 0.3s ease;
    background-color: transparent;
    border: none;
  }

  &:hover {
    cursor: pointer;
    & > p {
      color: var(--color-accent-1);
    }
    & > svg {
      color: var(--color-accent-1);
    }
  }
  &[data-state="open"] {
    & > svg {
      transform: translateY(-50%) translateX(100%) rotate(270deg);
    }
  }
}

.content {
  overflow: hidden;
  &[data-state="open"] {
    animation: slideDown 300ms ease-out;
  }
  &[data-state="closed"] {
    animation: slideUp 300ms ease-out;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
