.rootState {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  gap: 12px;

  &.subcategory {
    .wrapper {
      padding: 0;
    }

    .trigger {
      padding: 0;
    }
  }
}

.trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  padding: 8px 0;

  & > div {
    position: relative;

    & > a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: var(--color-accent-1);
      }
    }

    & > svg {
      position: absolute;
      right: -12px;
      top: 50%;
      transform: translate(100%, -50%);
      z-index: 5;
      transition: transform 0.2s ease-out;

      &.rotated {
        transform: rotate(90deg) translate(-50%, -100%);
      }
    }
  }
}

.content {
  overflow-y: hidden;
  overflow-x: visible;
  width: 100%;

  &[data-state="open"] {
    animation: slideDown 0.2s ease-out;
  }

  &[data-state="closed"] {
    animation: slideUp 0.2s ease-out;
  }
}

.wrapper {
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
