.container {
  width: 306px;
  position: relative;
  border-radius: 5px;
  box-sizing: border-box;

  &:hover {
    .imageContainer {
      box-shadow: 4px 14px 15px 0px #0b0c1908;
    }
  }

  @media (max-width: 768px) {
    width: 160px;
  }
}

.imageContainer {
  position: relative;
  width: 306px;
  height: 306px;
  margin-bottom: 16px;
  box-sizing: border-box;
  background-color: var(--color-grey);
  border-radius: 6px;

  @media (max-width: 768px) {
    width: 160px;
    height: 160px;
    margin-bottom: 12px;
  }
}

.deleteButton {
  position: absolute;
  top: 8px;
  right: 8px;
}

.tagsContainer {
  position: absolute;
  top: 16px;
  left: 16px;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;

  & > span {
    text-transform: uppercase;
    padding: 2px 6px;
    border-radius: 4px;
    &:nth-child(1) {
      color: var(--color-white);
      background-color: var(--color-accent-orange);
    }
    &:nth-child(2) {
      color: var(--color-white);
      background-color: var(--color-accent-green);
    }
    &:nth-child(3) {
      color: var(--color-white);
      background-color: var(--color-accent-red);
    }
  }

  @media (max-width: 768px) {
    top: 8px;
    left: 8px;
    & > span {
      padding: 1px 4px;
    }
  }
}

.image {
  border-radius: 6px;
  box-sizing: border-box;
}

.title {
  margin-bottom: 8px;
  @media (max-width: 768px) {
    margin-bottom: 4px;
  }
}

.discription {
  margin-bottom: 20px;
  @media (max-width: 768px) {
    margin-bottom: 8px;
  }
}

.priceContainer {
  display: flex;
  gap: 45px;

  @media (max-width: 768px) {
    gap: 0;
    justify-content: space-between;
  }
}

.price {
  display: flex;
  flex-direction: column;
  width: 91px;
  flex-shrink: 0;

  & > span {
    opacity: 0.3;
  }
}
