@use "../../shared/config/styles/functions" as *;

.container {
  display: flex;
  flex-direction: column;

  .link {
    display: flex;
    align-items: center;
    gap: vw-1440(12);
    padding: vw-1440(15) vw-1440(16);
    border-radius: vw-1440(4);
    transition: all 0.3s ease-in-out;

    @media (max-width: 768px) {
      padding: 13px 16px;
      border-radius: 4px;
      gap: 12px;
    }

    span {
      flex: 1 1 100%;
    }

    svg {
      width: vw-1440(22);
      height: vw-1440(22);
      flex-shrink: 0;
      transition: all 0.3s ease-in-out;

      @media (max-width: 768px) {
        width: 22px;
        height: 22px;
      }
    }

    &:hover {
      svg {
        color: var(--color-accent-1);
      }
    }

    &.active {
      background-color: var(--color-button-additional);
      color: var(--color-text);
    }
  }

  .button {
    padding: vw-1440(15) vw-1440(16);
    gap: vw-1440(6);
    color: var(--color-accent-red);
    transition: opacity 0.3s ease-in-out;

    @media (max-width: 768px) {
      padding: 13px 16px;
      gap: 6px;
    }

    &:hover {
      opacity: 0.8;
      color: var(--color-accent-red);
    }
  }
}
