@use "../../config/styles/functions" as *;

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1002;
  top: 0;
  left: 0;

  animation: fadeIn 0.1s ease-out;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  padding: vw-1440(48) vw-1440(54);
  width: vw-1440(609);
  background-color: var(--color-bg);
  box-shadow:
    1px 4px 8px 0 rgba(11, 12, 25, 0.03),
    4px 14px 15px 0 rgba(11, 12, 25, 0.02),
    8px 32px 20px 0 rgba(11, 12, 25, 0.01),
    14px 57px 24px 0 rgba(11, 12, 25, 0.01),
    22px 89px 26px 0 rgba(11, 12, 25, 0);
  border-radius: vw-1440(6);
  animation: fadeIn 0.3s ease-out;
  max-height: 95vh;
  overflow-y: auto;
  border: 1px solid rgba(17, 20, 52, 0.1);

  @media (max-width: 768px) {
    width: 335px;
    padding: 32px 30px;
    border-radius: 6px;
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    gap: vw-1440(24);
    align-items: center;
    width: 100%;
    height: fit-content;

    @media (max-width: 768px) {
      gap: 20px;
    }

    .textContent {
      display: flex;
      flex-direction: column;
      gap: vw-1440(16);
      align-items: center;
      text-align: center;

      @media (max-width: 768px) {
        gap: 12px;
      }

      .message {
        margin: 0;
        text-align: center;
        color: var(--color-text-secondary);
      }
    }

    .buttonGroup {
      display: flex;
      gap: vw-1440(16);
      width: vw-1440(456);
      justify-content: center;

      @media (max-width: 768px) {
        gap: 16px;
        flex-direction: column;
        width: 100%;
      }

      .cancelButton {
        flex: 1 1 100%;
        border: 1px solid rgba(17, 20, 52, 0.1);

        @media (max-width: 768px) {
          min-width: auto;
          width: 100%;
          flex: initial;
        }
      }

      .confirmButton {
        flex: 1 1 100%;

        @media (max-width: 768px) {
          min-width: auto;
          width: 100%;
          flex: initial;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
