@use "../../shared/config/styles/functions" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: vw-1440(36);

  width: vw-1440(1296);

  h1 {
    hyphens: auto;
    width: 335px;
    text-align: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: vw-1440(32);

  white-space: pre-line;
}
