@use '../../shared/config/styles/functions' as *;

.content {
  display: flex;
  flex-direction: column;
  gap: vw-1440(36);

  width: vw-1440(1296);
}

.content {
  display: flex;
  flex-direction: column;
  gap: vw-1440(32);
}

.elem {
  display: flex;
  flex-direction: column;
  gap: vw-1440(12);

  & > div > ul {
    list-style: none;
  }
}
