@use '../../shared/config/styles/functions' as *;

.container {
  position: relative;
  height: vw-1440(765);

  & > .content {
    top: vw-1440(171);
    left: 50%;
    transform: translateX(-50%);
    position: absolute;

    display: flex;
    flex-direction: column;
    gap: vw-1440(24);

    width: vw-1440(952);
    padding: vw-1440(48);

    background-color: var(--color-white);
    border-radius: 6px;
    box-shadow: 1px 4px 8px 0px #0b0c1908;

    & > span {
      color: var(--color-accent-1);
    }

    @media (max-width: 768px) {
      width: 335px;
      padding: 32px;
      gap: 16px;
      top: 96px;
    }
  }

  @media (max-width: 768px) {
    height: 980px;
  }
}

.imageContainer {
  width: 100vw;
  height: vw-1440(450);
  position: relative;

  & > img {
    z-index: -1;
    object-fit: cover;
    object-position: 50% 45%;
  }

  @media (max-width: 768px) {
    height: 180px;
  }
}
