.container {
  position: relative;
  height: 765px;

  & > .content {
    top: 171px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;

    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 952px;
    padding: 48px;

    background-color: var(--color-white);
    border-radius: 6px;
    box-shadow: 1px 4px 8px 0px #0b0c1908;

    & > span {
      color: var(--color-accent-1);
    }

    @media (max-width: 768px) {
      width: 335px;
      padding: 32px;
      gap: 16px;
      top: 96px;
    }
  }

  @media (max-width: 768px) {
    height: 980px;
  }
}

.imageContainer {
  width: 100vw;
  height: 450px;
  position: relative;

  & > img {
    z-index: -1;
    object-fit: cover;
    object-position: 50% 45%;
  }

  @media (max-width: 768px) {
    height: 180px;
  }
}
