@use '../../shared/config/styles/functions' as *;

.container {
  position: relative;
  height: vw-1440(765);

  & > .content {
    top: vw-1440(171);
    left: 50%;
    transform: translateX(-50%);
    position: absolute;

    display: flex;
    flex-direction: column;
    gap: vw-1440(24);

    width: vw-1440(952);
    padding: vw-1440(48);

    background-color: var(--color-bg);
    border-radius: 6px;
    box-shadow:
      1px 4px 8px 0 rgba(11, 12, 25, 0.03),
      4px 14px 15px 0 rgba(11, 12, 25, 0.02),
      8px 32px 20px 0 rgba(11, 12, 25, 0.01),
      14px 57px 24px 0 rgba(11, 12, 25, 0.01),
      22px 89px 26px 0 rgba(11, 12, 25, 0);

    & > span {
      color: var(--color-button);
    }

    .breadcrumbs {
      margin: 0;

      @media (max-width: 768px) {
        justify-content: flex-start;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: vw-1440(12);
      @media (max-width: 768px) {
        gap: 10px;
      }
    }

    @media (max-width: 768px) {
      width: 335px;
      padding: 32px;
      gap: 16px;
      top: 96px;
    }
  }

  @media (max-width: 768px) {
    height: 980px;
  }
}

.imageContainer {
  width: 100vw;
  height: vw-1440(450);
  position: relative;

  & > img {
    object-fit: cover;
  }

  @media (max-width: 768px) {
    height: 180px;
  }
}
