@use '../../shared/config/styles/functions' as *;

.container {
  display: flex;
  flex-direction: column;
  width: vw-1440(1296);
  & > p {
    margin-bottom: vw-1440(16);
    @media (max-width: 768px) {
      margin-bottom: 16px;
    }
  }

  & > h1 {
    margin-bottom: vw-1440(24);

    @media (max-width: 768px) {
      margin-bottom: 24px;
    }
  }
  @media (max-width: 768px) {
    align-items: center;
    width: 336px;
  }
}
