@use '../../shared/config/styles/functions' as *;

.cotnainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: vw-1440(12);
  width: vw-1440(306);

  &:hover {
    h5 {
      color: var(--color-text);
    }
    .imageContainer {
      box-shadow: 1px 4px 8px 0px #0b0c1908;
    }
  }

  .imageContainer {
    position: relative;
    width: vw-1440(306);
    height: vw-1440(220);
    border-radius: 6px;
    overflow: hidden;
    @media (max-width: 768px) {
      width: 160px;
      height: 110px;
      border-radius: 4px;
    }
  }

  @media (max-width: 768px) {
    gap: 8px;
    width: 160px;
  }
}

.date {
  background-color: var(--color-accent-1);
  padding: 2px 6px;
  border-radius: 4px;
  color: var(--color-white);
}

.button {
  & > svg {
    width: vw-1440(20);
    height: vw-1440(20);
    @media (max-width: 768px) {
      width: 20px;
      height: 20px;
    }
  }
}
