@use '../../shared/config/styles/functions' as *;

.container {
  width: vw-1440(1296);
  display: flex;
  justify-content: end;

  @media (max-width: 768px) {
    width: 336px;
    justify-content: start;
  }
}
