.container {
  width: 335px;
  margin: 16px auto;
  display: flex;
  justify-content: space-between;
}

.buttonsContainer {
  display: flex;
  gap: 10px;

  & > button {
    color: var(--color-text);
  }
}
