.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  gap: 39px;
  z-index: 101;
  background-color: var(--color-white);
}

.buttonsContainer {
  display: flex;
  gap: 10px;

  & > button {
    color: var(--color-text);
  }
}
