.container {
  width: 1296px;
  margin: 0 auto;

  display: flex;
  align-items: center;
}

.burgerMenu {
  position: relative;
  margin-left: 42px;
  margin-right: 24px;
}

.buttonCart {
  display: flex;
  align-items: center;
  gap: 8px;

  flex-shrink: 0;
  width: 192px;
  margin-left: 52px;

  background-color: transparent;
  border: none;

  text-decoration: none;
  & > span {
    padding: 11px;
  }

  &:hover {
    cursor: pointer;
    & > span {
      background-color: var(--color-accent-1);
      color: var(--color-white);
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2px;

  & > span {
    opacity: 0.4;
  }
}
