.container {
  width: 1296px;
  margin: 0 auto;

  display: flex;
  align-items: center;
}

.burgerMenu {
  position: relative;
  margin-left: 42px;
  margin-right: 24px;
}

.cart {
  display: flex;
  align-items: center;
  gap: 8px;

  flex-shrink: 0;
  width: 192px;
  margin-left: 52px;

  & > button {
    padding: 11px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
