@use '../../shared/config/styles/functions' as *;

.images {
  display: flex;
  gap: vw-1440(24);

  margin-right: vw-1440(48);

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    gap: 16px;
    margin-right: 0;
  }
}

.miniImages {
  display: flex;
  flex-direction: column;
  gap: vw-1440(16);

  .smallImage {
    position: relative;
    width: vw-1440(86);
    height: vw-1440(86);
    border-radius: 6px;
    overflow: hidden;
    background-color: var(--color-grey);
    border: none;
    flex-shrink: 0;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    @media (max-width: 768px) {
      width: 86px;
      height: 86px;
    }
  }

  @media (max-width: 768px) {
    flex-direction: row;
    width: 336px;
    overflow-x: auto;
    gap: 16px;
  }
}

.imageContainer {
  position: relative;
  background-color: var(--color-grey);
  border-radius: 6px;
  height: fit-content;
  height: vw-1440(392);
  width: vw-1440(392);
  @media (max-width: 768px) {
    width: 335px;
    height: 335px;
  }
}

.tagsContainer {
  position: absolute;
  left: vw-1440(16);
  top: vw-1440(16);

  display: flex;
  flex-direction: column;
  gap: 8px;

  & > span {
    padding: vw-1440(2) vw-1440(6);
    border-radius: 4px;
    color: var(--color-white);
    width: fit-content;
    opacity: 0.8;

    &.popular {
      background-color: var(--color-accent-orange);
    }
    &.new {
      background-color: var(--color-accent-green);
    }
    &.discount {
      background-color: var(--color-accent-red);
    }

    @media (max-width: 768px) {
      padding: 2px 6px;
    }
  }

  @media (max-width: 768px) {
    top: 16px;
    left: 16px;
  }
}
