@mixin typography($fontSize, $lineHeight, $fontWeight) {
  margin: 0;
  padding: 0;

  color: var(--color-text);
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  font-family: var(--font-onest);

  background-color: transparent;
  border: none;
}

.h1 {
  @include typography(
    var(--font-size-xxxl),
    --line-height-s,
    var(--font-weight-600)
  );
  @media (max-width: 768px) {
    @include typography(32px, --line-height-s, 600);
  }
}

.h1_discount {
  @include typography(
    var(--font-size-xxl),
    --line-height-s,
    var(--font-weight-600)
  );
  @media (max-width: 768px) {
    @include typography(28px, --line-height-s, 600);
  }
}

.h2 {
  @include typography(
    var(--font-size-xl),
    --line-height-s,
    var(--font-weight-600)
  );
  @media (max-width: 768px) {
    @include typography(26px, --line-height-s, 600);
  }
}

.h3 {
  @include typography(
    var(--font-size-l),
    --line-height-s,
    var(--font-weight-600)
  );
  @media (max-width: 768px) {
    @include typography(20px, --line-height-s, 500);
  }
}

.h4 {
  @include typography(
    var(--font-size-m),
    --line-height-l,
    var(--font-weight-600)
  );
  @media (max-width: 768px) {
    @include typography(18px, --line-height-l, 600);
  }
}

.h5 {
  @include typography(
    var(--font-size-s),
    --line-height-l,
    var(--font-weight-600)
  );
  @media (max-width: 768px) {
    @include typography(16px, --line-height-l, 600);
  }
}

.h6 {
  @include typography(
    var(--font-size-xs),
    --line-height-l,
    var(--font-weight-600)
  );
  @media (max-width: 768px) {
    @include typography(14px, --line-height-l, 600);
  }
}

.body_1 {
  @include typography(
    var(--font-size-m),
    --line-height-l,
    var(--font-weight-400)
  );
  @media (max-width: 768px) {
    @include typography(20px, --line-height-l, 400);
  }
}

.body_2 {
  @include typography(
    var(--font-size-s),
    --line-height-l,
    var(--font-weight-400)
  );
  @media (max-width: 768px) {
    @include typography(18px, --line-height-l, 400);
  }
}

.body_3 {
  @include typography(
    var(--font-size-xxs),
    --line-height-l,
    var(--font-weight-500)
  );
  @media (max-width: 768px) {
    @include typography(15px, --line-height-l, 400);
  }
}

.body_4 {
  @include typography(
    var(--font-size-xxxs),
    --line-height-l,
    var(--font-weight-500)
  );
  @media (max-width: 768px) {
    @include typography(14px, --line-height-l, 500);
  }
}

.body_5 {
  @include typography(
    var(--font-size-xxxs),
    --line-height-l,
    var(--font-weight-400)
  );
  @media (max-width: 768px) {
    @include typography(13px, --line-height-l, 400);
  }
}

.body_6 {
  @include typography(
    var(--font-size-xxxxs),
    --line-height-l,
    var(--font-weight-400)
  );
  @media (max-width: 768px) {
    @include typography(13px, --line-height-l, 300);
  }
}

.body_7 {
  @include typography(
    var(--font-size-xxxxs),
    --line-height-m,
    var(--font-weight-400)
  );
  @media (max-width: 768px) {
    @include typography(12px, --line-height-l, 300);
  }
}

.button {
  @include typography(
    var(--font-size-xs),
    --line-height-l,
    var(--font-weight-600)
  );
  cursor: pointer;
  @media (max-width: 768px) {
    @include typography(16px, --line-height-l, 600);
  }
}

.placeholder {
  @include typography(
    var(--font-size-xxs),
    --line-height-l,
    var(--font-weight-400)
  );
  @media (max-width: 768px) {
    @include typography(15px, --line-height-l, 400);
  }
}

.discount {
  text-decoration: line-through;
  @include typography(
    var(--font-size-xxxs),
    --line-height-l,
    var(--font-weight-500)
  );
  @media (max-width: 768px) {
    @include typography(13px, --line-height-l, 500);
  }
}

.error {
  @include typography(
    var(--font-size-xxxxs),
    var(--line-height-xxxxs),
    var(--font-weight-400)
  );
  @media (max-width: 768px) {
    @include typography(11px, 15.4px, 600);
  }
}

.tag {
  @include typography(
    var(--font-size-xxxxs),
    --line-height-l,
    var(--font-weight-500)
  );
  @media (max-width: 768px) {
    @include typography(10px, --line-height-l, 500);
  }
}

.required {
  &::after {
    content: '*';
    color: var(--color-accent-red);
  }
}
