@use "../../shared/config/styles/functions" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: vw-1440(32);
  align-items: center;

  h1 {
    width: 100%;
  }

  @media (max-width: 768px) {
    gap: 24px;

    h1 {
      text-align: center;
    }
  }
}
.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: vw-1440(24);

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
