.trigger {
  @media (min-width: 768px) {
    display: none;
  }
}

.content {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  width: 100vw;
  height: 100vh;

  background-color: var(--color-white);
  overflow: hidden;

  animation: fadeIn 0.3s ease-out;

  @media (min-width: 768px) {
    display: none;
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0 auto;
  padding: 20px;
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 19px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
