.rootClass {
  position: relative;
  padding: 16px 24px;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;

  width: 334px;

  &.success {
    background-color: #13b926;
  }

  &.error {
    background-color: var(--color-accent-red);
  }

  &.info {
    background-color: var(--color-accent-1);
  }

  &.warning {
    background-color: var(--color-accent-orange);
  }

  .title {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .title,
  .message {
    color: var(--color-white);
  }

  @media (max-width: 768px) {
    width: 267px;
    padding: 12px 20px;
  }
}
