.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.deliveryArea {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.list {
  list-style-position: inside;
}

.map {
  height: 320px;
  width: 526px;
}
