.container {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.textarea {
  width: 100%;
  padding: 6px 12px 8px;

  font-family: Onest;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: var(--color-text);

  background-color: var(--color-white);
  border-radius: 2px;
  outline: 1px solid #1114341a;
  border: none;

  &::-webkit-scrollbar {
    width: 6px;
    background: var(--color-grey);
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    flex: 1;
    background: var(--color-bg-overlay);
    border-radius: 3px;

    &:hover {
      background: var(--color-text);
      cursor: pointer;
    }
  }

  &::placeholder {
    color: var(--color-text);
    opacity: 0.4;
  }

  &:focus {
    color: var(--color-text);
    outline: 1px solid var(--color-accent-1);

    &::placeholder {
      color: var(--color-text);
    }
  }

  &:active {
    color: var(--color-text);
    outline: 1px solid var(--color-accent-1);

    &::placeholder {
      color: var(--color-text);
    }
  }

  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.2;

    &::placeholder {
      color: var(--color-bg-overlay);
    }
  }

  &.error {
    outline: 1px solid var(--color-accent-red);

    &::placeholder {
      color: var(var(--color-bg-overlay));
    }
  }
}

.label {
  color: var(--color-text);
}

.error {
  color: var(--color-accent-red);
}
