.container {
  display: flex;
  gap: 48px;
  width: 1296px;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 336px;
    flex-direction: column;
    gap: 24px;
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 612px;

  .textContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media (max-width: 768px) {
      gap: 12px;
    }
  }

  .imageContainer {
    position: relative;
    width: 612px;
    height: 355px;
    border-radius: 6px;
    overflow: hidden;

    @media (max-width: 768px) {
      width: 336px;
      height: 195px;
    }
  }
  @media (max-width: 768px) {
    width: 336px;
    text-align: center;
    gap: 16px;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;

  width: 636px;

  @media (max-width: 768px) {
    width: 336px;
    align-items: center;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.textarea {
  height: 144px;
}

.submitButton {
  width: 220px;
}
