@use "../../../shared/config/styles/functions" as *;

.main {
  .blocks {
    display: flex;
    flex-direction: column;
    gap: vw-1440(120);

    &.lowMargin {
      gap: vw-1440(16);

      @media (max-width: 768px) {
        gap: 12px;
      }

      div.imageBlock:not(:first-child) {
        margin-top: initial;

        @media (max-width: 768px) {
          margin-top: initial;
        }
      }
    }

    @media (max-width: 768px) {
      gap: 72px;
    }
  }

  div.imageBlock:not(:first-child) {
    margin-top: vw-1440(-100);

    @media (max-width: 768px) {
      margin-top: -48px;
    }
  }

  .downloadButton {
    width: fit-content;
    margin-top: vw-1440(24);

    @media (max-width: 768px) {
      margin: 0 auto;
      margin-top: 24px;
    }
  }
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: vw-1440(1296);

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 20px;
    width: 336px;
  }
}
