.container {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.title {
  display: flex;
  gap: 20px;
  align-items: end;

  & > button {
    margin-bottom: 11px;
  }
}

.content {
  display: flex;
  gap: 48px;
}
