@use "../../shared/config/styles/functions" as *;

.container {
  max-width: vw-1440(1296);
  margin: 0 auto;
  width: 100%;
  position: relative;
  height: vw-1440(620);
  border-radius: vw-1440(6);
  overflow: hidden;

  @media (max-width: 768px) {
    max-width: 336px;
    height: 220px;
    border-radius: 5px;
  }
}
