:root {
  // accent
  --color-accent-1: #25338C;
  --color-accent-2: #EAF3FF;
  --color-accent-red: #DE0C2F;
  --color-accent-green: #13B926CC;
  --color-accent-orange: #EF8A24CC;


  // main
  --color-text: #111434;
  --color-white: #FFFFFF;
  --color-grey: #F8F8F8;
  --color-bg-overlay: #0B0C194D;

  --mobile-width: 768px;
}