@use "./functions" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @media (max-width: 768px) {
    padding-top: 73px;
  }
}

html,
body {
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  color: var(--color-text);
  font-family: var(--font-onest);
  background-color: var(--color-bg);
  overflow-x: hidden;
}

a,
button {
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--color-text);

  transition:
    color 0.3s ease,
    background-color 0.3s ease;
  &:hover {
    color: var(--color-accent-1);
  }
}

a:hover {
  color: var(--color-link);
}

main {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: vw-1440(120);

  @media (max-width: 768px) {
    gap: 72px;
  }
}

.main-container {
  @media (max-width: 768px) {
    max-width: 336px;
    margin: 0 auto;
  }
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-left {
  text-align: left;
}

h1,
h2 {
  color: var(--color-heading);
}

.desktop-only {
  @media (max-width: 768px) {
    display: none !important;
  }
}

.mobile-only {
  @media (min-width: 768px) {
    display: none !important;
  }
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: vw-1440(766);
  margin: 0 auto;

  & > p,
  & > h1 {
    color: var(--color-heading);
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: vw-1440(24);
    align-items: center;
    text-align: center;
    & > a {
      text-decoration: none;
      width: vw-1440(250);
      @media (max-width: 768px) {
        width: 250px;
      }
    }
  }

  @media (max-width: 768px) {
    width: 336px;

    & > div {
      gap: 16px;
    }
  }
}

.h1 {
  font-family: var(--font-onest);
  font-weight: 600;
  font-size: vw-1440(68);
  line-height: 120%;

  @media (max-width: 768px) {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
  }
}

.h1_discount {
  font-family: var(--font-onest);
  font-weight: 600;
  font-size: vw-1440(48);
  line-height: 120%;

  @media (max-width: 768px) {
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
  }
}

.h2 {
  font-family: var(--font-onest);
  font-weight: 600;
  font-size: vw-1440(42);
  line-height: 120%;

  @media (max-width: 768px) {
    font-weight: 600;
    font-size: 26px;
    line-height: 120%;
  }
}

.h3 {
  font-family: var(--font-onest);
  font-weight: 600;
  font-size: vw-1440(28);
  line-height: 120%;

  @media (max-width: 768px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
  }
}

.h4 {
  font-family: var(--font-onest);
  font-weight: 600;
  font-size: vw-1440(24);
  line-height: 140%;
  @media (max-width: 768px) {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
  }
}

.h5 {
  font-family: var(--font-onest);
  font-weight: 600;
  font-size: vw-1440(20);
  line-height: 140%;

  @media (max-width: 768px) {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
  }
}

.h6 {
  font-family: var(--font-onest);
  font-weight: 600;
  font-size: vw-1440(18);
  line-height: 140%;

  @media (max-width: 768px) {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
  }
}

.body_1 {
  font-family: var(--font-onest);
  font-weight: 400;
  font-size: vw-1440(24);
  line-height: 140%;

  @media (max-width: 768px) {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
  }
}

.body_2 {
  font-family: var(--font-onest);
  font-weight: 400;
  font-size: vw-1440(20);
  line-height: 140%;

  @media (max-width: 768px) {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
  }
}

.body_3 {
  font-family: var(--font-onest);
  font-weight: 500;
  font-size: vw-1440(17);
  line-height: 140%;

  @media (max-width: 768px) {
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
  }
}

.body_4 {
  font-family: var(--font-onest);
  font-weight: 500;
  font-size: vw-1440(16);
  line-height: 140%;

  @media (max-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
  }
}

.body_5 {
  font-family: var(--font-onest);
  font-weight: 400;
  font-size: vw-1440(16);
  line-height: 140%;

  @media (max-width: 768px) {
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
  }
}

.body_6 {
  font-family: var(--font-onest);
  font-weight: 400;
  font-size: vw-1440(15);
  line-height: 140%;

  @media (max-width: 768px) {
    font-weight: 300;
    font-size: 13px;
    line-height: 140%;
  }
}

.body_6_bold {
  font-family: var(--font-onest);
  font-weight: 700;
  font-size: vw-1440(15);
  line-height: 140%;

  @media (max-width: 768px) {
    font-weight: 700;
    font-size: 13px;
    line-height: 140%;
  }
}

.body_7 {
  font-family: var(--font-onest);
  font-weight: 400;
  font-size: vw-1440(15);
  line-height: 130%;

  @media (max-width: 768px) {
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
  }
}

.button {
  font-family: var(--font-onest);
  font-weight: 600;
  font-size: vw-1440(18);
  line-height: 140%;

  @media (max-width: 768px) {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
  }
}

.placeholder {
  font-family: var(--font-onest);
  font-weight: 400;
  font-size: vw-1440(17);
  line-height: 140%;

  @media (max-width: 768px) {
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
  }
}

.discount {
  font-family: var(--font-onest);
  font-weight: 500;
  font-size: vw-1440(16);
  line-height: 140%;
  text-transform: uppercase;
  text-decoration: line-through;
  opacity: 0.3;

  @media (max-width: 768px) {
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
  }
}

.error {
  font-family: var(--font-onest);
  font-weight: 400;
  font-size: vw-1440(15);
  line-height: 130%;
  color: var(--color-accent-red);
  @media (max-width: 768px) {
    font-weight: 600;
    font-size: 11px;
    line-height: 140%;
  }
}

.tag {
  font-family: var(--font-onest);
  font-weight: 500;
  font-size: vw-1440(14);
  line-height: 140%;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-weight: 500;
    font-size: 10px;
    line-height: 140%;
  }
}

.error-title {
  font-family: var(--font-onest);
  font-weight: 600;
  font-size: vw-1440(300);
  line-height: 120%;

  @media (max-width: 768px) {
    font-weight: 600;
    font-size: 150px;
    line-height: 120%;
  }
}

.required {
  &::after {
    content: "*";
    color: var(--color-accent-red);
  }
}

.yt-lite {
  background-color: #000;
  position: relative;
  display: block;
  contain: content;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}

/* gradient */
.yt-lite::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  background-position: top;
  background-repeat: repeat-x;
  height: 60px;
  padding-bottom: 50px;
  width: 100%;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

/* responsive iframe with a 16:9 aspect ratio
    thanks https://css-tricks.com/responsive-iframes/
*/
.yt-lite::after {
  content: "";
  display: block;
  padding-bottom: calc(100% / (16 / 9));
}
.yt-lite > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* play button */
.yt-lite > .lty-playbtn {
  width: 65px;
  height: 46px;
  z-index: 1;
  opacity: 0.8;
  border: none;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20id%3D%22YouTube_Icon%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%201024%20721%22%20enable-background%3D%22new%200%200%201024%20721%22%20xml%3Aspace%3D%22preserve%22%3E%3Cscript%20xmlns%3D%22%22%3E%0A%20%20%20%20try%20%7B%0A%20%20%20%20%20%20Object.defineProperty(navigator%2C%20%22globalPrivacyControl%22%2C%20%7B%0A%20%20%20%20%20%20%20%20value%3A%20false%2C%0A%20%20%20%20%20%20%20%20configurable%3A%20false%2C%0A%20%20%20%20%20%20%20%20writable%3A%20false%0A%20%20%20%20%20%20%7D)%3B%0A%20%20%20%20%20%20document.currentScript.parentElement.removeChild(document.currentScript)%3B%0A%20%20%20%20%7D%20catch(e)%20%7B%7D%3B%0A%20%20%20%20%20%20%3C%2Fscript%3E%0A%3Cpath%20id%3D%22Triangle%22%20fill%3D%22%23FFFFFF%22%20d%3D%22M407%2C493l276-143L407%2C206V493z%22%2F%3E%0A%3Cpath%20id%3D%22The_Sharpness%22%20opacity%3D%220.12%22%20fill%3D%22%23420000%22%20d%3D%22M407%2C206l242%2C161.6l34-17.6L407%2C206z%22%2F%3E%0A%3Cg%20id%3D%22Lozenge%22%3E%0A%09%3Cg%3E%0A%09%09%0A%09%09%09%3ClinearGradient%20id%3D%22SVGID_1_%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%22512.5%22%20y1%3D%22719.7%22%20x2%3D%22512.5%22%20y2%3D%221.2%22%20gradientTransform%3D%22matrix(1%200%200%20-1%200%20721)%22%3E%0A%09%09%09%3Cstop%20offset%3D%220%22%20style%3D%22stop-color%3A%23E52D27%22%2F%3E%0A%09%09%09%3Cstop%20offset%3D%221%22%20style%3D%22stop-color%3A%23BF171D%22%2F%3E%0A%09%09%3C%2FlinearGradient%3E%0A%09%09%3Cpath%20fill%3D%22url(%23SVGID_1_)%22%20d%3D%22M1013%2C156.3c0%2C0-10-70.4-40.6-101.4C933.6%2C14.2%2C890%2C14%2C870.1%2C11.6C727.1%2C1.3%2C512.7%2C1.3%2C512.7%2C1.3%20%20%20%20h-0.4c0%2C0-214.4%2C0-357.4%2C10.3C135%2C14%2C91.4%2C14.2%2C52.6%2C54.9C22%2C85.9%2C12%2C156.3%2C12%2C156.3S1.8%2C238.9%2C1.8%2C321.6v77.5%20%20%20%20C1.8%2C481.8%2C12%2C564.4%2C12%2C564.4s10%2C70.4%2C40.6%2C101.4c38.9%2C40.7%2C89.9%2C39.4%2C112.6%2C43.7c81.7%2C7.8%2C347.3%2C10.3%2C347.3%2C10.3%20%20%20%20s214.6-0.3%2C357.6-10.7c20-2.4%2C63.5-2.6%2C102.3-43.3c30.6-31%2C40.6-101.4%2C40.6-101.4s10.2-82.7%2C10.2-165.3v-77.5%20%20%20%20C1023.2%2C238.9%2C1013%2C156.3%2C1013%2C156.3z%20M407%2C493V206l276%2C144L407%2C493z%22%2F%3E%0A%09%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}
.yt-lite:hover > .lty-playbtn {
  opacity: 1;
}
/* play button triangle */
.yt-lite > .lty-playbtn:before {
  content: "";
  border-style: solid;
  border-width: 11px 0 11px 19px;
  border-color: transparent transparent transparent #fff;
}

.yt-lite > .lty-playbtn,
.yt-lite > .lty-playbtn:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

/* Post-click styles */
.yt-lite.lyt-activated {
  cursor: unset;
}
.yt-lite.lyt-activated::before,
.yt-lite.lyt-activated > .lty-playbtn {
  opacity: 0;
  pointer-events: none;
}
