:root {
  // line heights
  --line-height-s: 120%;
  --line-height-m: 130%;
  --line-height-l: 140%;

  /* font-sizes */
  --font-size-xxxxs: 15px;
  --font-size-xxxs: 16px;
  --font-size-xxs: 17px;
  --font-size-xs: 18px;
  --font-size-s: 20px;
  --font-size-m: 24px;
  --font-size-l: 28px;
  --font-size-xl: 42px;
  --font-size-xxl: 48px;
  --font-size-xxxl: 68px;

  // font weights
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
}
