:root {  
    // line heights
    --line-height-xxxxs: 19.5px;
    --line-height-xxxs: 21px;
    --line-height-xxs: 22.4px;
    --line-height-xs: 23.8px;
    --line-height-s: 25.2px;
    --line-height-m: 28px;
    --line-height-l: 33.6px;
    --line-height-xl: 50.4px;
    --line-height-xxl: 57.6px;
    --line-height-xxxl: 81.6px;
  
    /* font-sizes */
    --font-size-xxxxs: 15px;
    --font-size-xxxs: 16px;
    --font-size-xxs: 17px;
    --font-size-xs: 18px;
    --font-size-s: 20px;
    --font-size-m: 24px;
    --font-size-l: 28px;
    --font-size-xl: 42px;
    --font-size-xxl: 48px;
    --font-size-xxxl: 68px;
  
    // font weights
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
  }
  