@use "../../shared/config/styles/functions" as *;

.container {
  max-width: vw-1440(1296);
  margin: 0 auto;
  width: 100%;

  @media (max-width: 768px) {
    max-width: 336px;
  }

  .title {
    margin-bottom: vw-1440(36);
    text-align: center;

    @media (max-width: 768px) {
      margin-bottom: 24px;
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: vw-1440(24);

    @media (max-width: 768px) {
      gap: 20px;
      flex-direction: column;
    }
  }
}
