.container {
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: center;
}

.titleContainer {
  display: flex;
  gap: 48px;
  align-items: center;

  & > .title {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;

    & > span {
      padding: 4px 8px;
      border-radius: 4px;
      color: var(--color-white);
      background-color: var(--color-accent-1);
    }

    @media (max-width: 768px) {
      text-align: center;
      align-items: center;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.imageContainer {
  position: relative;
  width: 636px;
  height: 457px;
  border-radius: 6px;
  overflow: hidden;
  flex-shrink: 0;
  @media (max-width: 768px) {
    width: 335px;
    height: 240px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 48px;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    gap: 24px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 32px;

  width: 856px;

  @media (max-width: 768px) {
    width: 336px;
    gap: 12px;
  }
}

.elem {
  display: flex;
  flex-direction: column;
  gap: 20px;
  & > p > ul {
    list-style-position: inside;
  }

  @media (max-width: 768px) {
    gap: 12px;
  }
}

.infoCard {
  display: flex;
  gap: 16px;
  align-items: center;
  background-color: var(--color-grey);
  border-radius: 6px;
  padding: 16px;

  & > img {
    border-radius: 6px;
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
