.container {
  display: flex;
  flex-direction: column;
  gap: 36px;

  width: 636px;

  @media (max-width: 768px) {
    width: 336px;
  }
}
.elem {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media (max-width: 768px) {
    gap: 16px;
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-accent-1);
    color: var(--color-white);
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

  & > div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: auto;
  }

  @media (max-width: 768px) {
    & > a {
      display: none;
    }
    gap: 8px;
  }
}

.contacts {
  display: grid;
  grid-template-columns: repeat(2, 306px);
  gap: 16px 24px;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.delivery {
  display: flex;
  gap: 24px;

  flex-wrap: wrap;
  @media (max-width: 768px) {
    gap: 15px;
  }
}

.address {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .textarea {
    height: 124px;
  }
}

.paymentMethod {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  @media (max-width: 768px) {
    gap: 15px;
  }
}
