.rootState {
  display: flex;
  flex-direction: column;
  background-color: var(--color-grey);
  padding: 16px;
  border-radius: 6px;
}

.trigger {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: transparent;
  border: none;

  & > svg {
    transition: transform 0.3s ease;
  }

  &:hover {
    cursor: pointer;
    & > p {
      color: var(--color-accent-1);
    }
  }

  &[data-state='open'] {
    & > svg {
      transform: rotate(180deg);
    }
  }
}

.wrapper {
  overflow: hidden;
  .content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: hidden;
  }

  & > :first-child {
    margin-top: 12px;
  }

  &[data-state='open'] {
    animation: slideDown 300ms ease-out;
  }
  &[data-state='closed'] {
    animation: slideUp 300ms ease-out;
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
