@use '../../shared/config/styles/functions' as *;

.container {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  text-align: center;

  & > button {
    border-bottom: 3px solid var(--color-grey);
    padding-bottom: vw-1440(16);
    flex: 1;

    &.active {
      border-bottom: 3px solid var(--color-accent-1);
    }

    &:hover {
      cursor: pointer;
      color: var(--color-accent-1);
      opacity: 0.8;
    }
  }
}

.content {
  padding-top: vw-1440(24);
  @media (max-width: 768px) {
    padding-top: 24px;
  }
}
